[plugin "demo"]
  # keys should not have cyclic dependency, but can be defined in any order
  fac4 = fac(4)
  useJSE = true
  fac = (n) => n < 2 ? 1 : n * fac(n - 1)
  fac5 = fac(5)

[plugin "find-owners"]

  # existing keys, used by most sites
  enable = true
  rejectErrorInOwners = true
  maxCacheAge = 30
  maxCacheSize = 2000
  ownersFileName = OWNERS.android # will be converted to string automatically

  # effective keys, but rarely used
  minOwnerVoteLevel = 1
  addDebugMsg = true

  # old keys, redundant now
  alwaysShowButton = true

  # new keys
  useJSE = true # default is false

  blockSubmit = true

  removeOwnerApproved = true

  needOwnerReview = \
    !isExemptFromReviews && !optOutFindOwners && optInFindOwners

  isExemptFromReviews = isExemptUploader || hasBuildCopOverride

  optOutFindOwners = NoOwnersReviewBranches.indexOf(CL.Branch) >= 0

  optInFindOwners  = true  # default opt-in unless opt-out

  isExemptUploader = ExemptUsers.indexOf(CL.Uploader.Id) >= 0

  ExemptUsers = [104, 106]

  hasBuildCopOverride = CL.Labels.some(isBCOLabel)

  isBCOLabel = (x) => x.name == BCOLabel && x.value > 0

  BCOLabel = 'Build-Cop-Override'

  NoOwnersReviewBranches = [                \
    'refs/heads/my-experiment',             \
    'refs/heads/beta-testing',              \
  ]
